@import "tailwindcss";
@import "./theme/dark.css";
@import "./theme/sepia.css";
@import "./theme/monochrome.css";

@theme {
  --font-outfit: "Outfit", "sans-serif";
  /* gray */
  --color-gray-110: #f4f4f4;
  --color-gray-120: #d1d5dc;
  --color-gray-130: #939393;

  /* orange */
  --color-orange-110: #f97916;
  --color-orange-120: #eab308;
}
body {
  color: var(--color-black);
  background: var(--color-white);
}

.container {
  @apply !max-w-screen-xl xl:!px-0;
}

.light .img-dark {
  display: none;
}

.dark .img-light {
  display: none;
}
